.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    background-color: white;
    padding: 40px;
    border-radius: 4px;
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
  }
  
  .overlay {
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .close-icon {
    font-size: 20px;
    font-weight: bold;
    color: black;
  }

  select {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    width: auto;
    max-width: 300px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
    
  }
  
  select:focus {
    border-color: #007bff;
    outline: none;
  }

  .label {
    font-size: 0.85rem;
    font-weight: bold;
    padding-top: .5rem;
    padding-right: 1rem;
    font-family: var(--font-family);
  }

  .radio {
    display: flex;
  }

.update-dds {
  display: flex;
}

.update-dds label {
  display: flex;
  margin-left: 0rem;
}

.update-dds select {
  display: flex;
  margin-right: 2rem;
  margin-top: 8px;
}

/*TABLE STYLING BELOW*/

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-family: Arial, sans-serif; /* Set font family to Arial or a sans-serif font */
  font-size: 14px; /* Set font size to a readable size */
}

thead {
  background-color: #333;
  color: #fff;
}

th {
  text-align: left;
  padding: 10px;
}

td {
  padding: 10px;
  border: 1px solid #ccc;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

.SVG-button{
  font-family: var(--font-family);
  background-color: white;
  width:100%;
  height:100%;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.SVG-button:hover{
  background-color: rgb(235, 235, 235);
}

.button-text{
  padding: 0;
  margin: 0;
  text-align: center;
}

.container-new-data {
  display: flex;
  justify-content: space-between;
}