/* 3 NEW BG OPTIONS, CAN BE DELETED LATER */

.hTrackPackage{ /*WHOLE PAGE*/
    font-family: var(--font-family);
    display:flex;
    flex-direction: column;
}
.trackTitle{ /* "Track a Shipment" */
    margin: 0;
}
/* button{
    cursor:pointer;
    margin-left: 1rem;
    width: 5rem;
} */
.track-bar{ /*SEARCH BAR*/
    text-align: center;
    align-self: center;
    margin-top:2rem;
    padding-top:1rem;
    padding-bottom:1rem;
    position: absolute;

}
/* input[type="text"] {
    padding: 8px 12px;
    margin-right: 0;
    border-radius: 16px 0px 0px 16px;
    border: 1px solid #ced4da;
    border-right: none;
    flex-grow: 1;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    padding: 8px 16px;
    border-radius: 0px 16px 16px 0px;
    border: 1px solid #ced4da;
    color: #fff;
    font-size: 16px;
    background-color: #007bff;
    outline: none;
    box-sizing: border-box;
  } */

.input-group {
    display: flex;
    flex-direction: row;
}
  
.input-group input {
    padding: 8px 12px;
    margin-right: 0;
    border-radius: 16px 0px 0px 16px;
    border: 1px solid #ced4da;
    border-right: none;
    flex-grow: 1;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.input-group button {
    padding: 8px 16px;
    border-radius: 0px 16px 16px 0px;
    border: 1px solid #ced4da;
    color: #fff;
    font-size: 16px;
    background-color: #007bff;
    outline: none;
    box-sizing: border-box;
    align-self: baseline;
    margin-top: 5px;
    cursor:pointer;
}
.container-trackShipment{ /*TRACKING INFO*/
    padding: 1rem;
    margin: 1rem 10rem 1rem 10rem;
    background-color: #dde8fe;
    border-radius: 5px;
}
.package-found-icon{
    position: absolute;
    right: 12rem;
}
.track-status{
    padding: 0;
    margin: 0;
    text-align: left;
}
.track-progress{
    display: flex;
    align-items: center;
    margin: 2rem;
}
.progress-point{
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: grey;
    transition: background-color 0.3s ease;
}
.progress-point.stopped, .progress-bar-line.stopped{
    background-color: #fa6058;
  }
.progress-point.active, .progress-bar-line.active{
    background-color: #49d789;
}
.progress-bar-line{
    width: 150px;
    height: 3px;
    background-color: grey;
}
.progress-bar-text{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    display: flex;
    flex-direction: row;
}
.progress-bar-text-word{
    display: inline-block;
    margin-left: 5px;
}
.data-titling{
    border-top: 1px solid rgb(144, 144, 144);
    margin-bottom: 0;
    font-weight: bold;
}
.data-info{
    margin-top: 0;
    font-weight: 300;
}

.background{ /* BG 1 */
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    height: 50vh;
    position:relative;
}

.error-message{
    padding: 2rem;
}