
.container-customer{ /*WHOLE PAGE*/
    font-family: var(--font-family);
    list-style: none;
    margin: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.header-customer{
    padding: 1rem;
}
.container-title{
    font-weight: bold;
    /* background-color: #DCDCDD; */
    background-color: rgb(244, 244, 244);
    padding: 1rem;
    border-radius: 8px 8px 0px 0px;
}
.container-customer-info{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0;
    padding-bottom: 2rem;
}
.info-titles{
    font-weight: bold;
}
.customerInfo{
    /* background-color: rgb(244, 244, 244); */
    background-color: #dde8fe;
    border-radius: 8px;
}
.customer-shipments{
    align-self: center;
}
.container-table{
    border: 1px solid black;
    border-radius: 5px;
}
th{
    font-size: 0.75rem;
    padding: 0.75rem;
    border: 1px solid black;
    border-radius: 5px;
}
.button-pass{
    padding: 0.25rem;
}
.container-pass{
    padding: 0;
    margin: 0;
    margin-left: 5rem;
}
