
.container-customer{
    font-family: var(--font-family);
    list-style: none;
    margin: 1rem;
    display:flex;
    flex-direction: column;
}
.header-customer{
    padding: 1rem;
}
.container-customer-info{
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.info-titles{
    font-weight: bold;
}
.customerInfo{
    background-color: rgb(244, 244, 244);
    border-radius: 8px;
}
.customer-shipments{
    align-self: center;
}
.container-title{
    font-weight: bold;
    background-color: #DCDCDD;
    padding: 1rem;
    border-radius: 8px 8px 0px 0px;
}
.container-table{
    border: 1px solid black;
}
th{
    font-size: 0.75rem;
    padding: 0.75rem;
    border: 1px solid black;
}
.button-pass{
    padding: 0.25rem;
}
.container-pass{
    padding: 0;
    margin: 0;
    margin-left: 5rem;
}
