
.container-customer{ /*WHOLE PAGE*/
    font-family: var(--font-family);
    list-style: none;
    margin: 0 4rem 0 4rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #dde8fe;
}
.header-customer{
    padding: 1rem;
}
.container-title{
    font-weight: bold;
    /* background-color: #DCDCDD; */
    background-color: rgb(244, 244, 244);
    padding: 1rem;
    border-radius: 8px 8px 0px 0px;
}
.container-customer-info{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0;
    padding-bottom: 2rem;
}
.info-titles{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
}
.title-descriptor{
    align-self: flex-end;
}
.customerInfo{
    background-color: white;
    border-radius: 8px;
}
.customer-shipments{
    align-self: center;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 8px;
    margin: 0.5rem;
}

/* .container-table{
    border: 1px solid black;
} */
.container-table td:last-child{
    border: none;
    padding: 0;
    background-color: #dde8fe;
}
th{
    font-size: 0.75rem;
    padding: 0.75rem;
    border: 2px solid black;
    background-color: white;
}
td{
    background-color: white;
}
.button-pass{
    padding: 0.25rem;
}
.container-pass{
    padding: 0;
    margin: 0;
    margin-left: 5rem;
}

.po-Info{
    background-color: white;
    padding: 5px 50px 5px 10px;
    border-radius: 8px;
}