/*HOME PAGE*/
.hTrackPackage{
    font-family: var(--font-family);
    text-align: center;
    /* padding: 4rem; */
    /* font-size: 2rem; */
    display: flex;
    flex-direction: column;
    background-size: 100%;
}
/* .circle{
    width: 6rem;
    height: 6rem;
    background-color: #c9ada7;
    border-radius: 50%;
} */



/*LOGIN/REGISTER PAGE*/
/* .container-signin{
    color: white;
    display: flex;
    flex-direction: column;

}
.login{
    text-align: center;
    margin: 0;
    padding-top: 2rem;
}
.login label{
    text-align: center;
    display: block;
    padding-left: 4rem;
}
.login input{
    width:40%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #22223b;
    box-sizing: border-box;
    display: inline;
}
.login button{
    width: 10rem;
    background: white;
    color: #22223b;
    border-color:#22223b;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}
.register{
    text-align: center;
    margin: 0;
    padding-top: 2rem;

}
.register label{
    text-align: center;
    display: block;
    padding-left: 4rem;
}
.register input{

    width:40%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #22223b;
    box-sizing: border-box;
    display: inline;
}
.register userButton{
    padding: 6px 10px;
    border: 1px solid #22223b;
}
.register button{
    width: 10rem;
    background: white;
    color: #22223b;
    border-color:#22223b;
    border-radius: 8px;
    margin-top: 8px;
    padding: 8px;
    cursor: pointer;
} */
.container-signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login, .register {
    font-family: var(--font-family);
    background-color: rgb(168, 166, 166);
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 0rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

label {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0077cc;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0066b3;
}