*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #b9cad5;
}

.page-container{
    background-color: purple;
}

.nav{
    font-family: var(--font-family);
    background-color: #051923;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}
.home-title{
    font-family: var(--font-family);
    font-size: 2rem;
}
.nav ul{
    padding: 0rem;
    margin: 0;
    list-style: none;
    align-items: center;
    display: flex;
    gap: 1rem;
}
.nav a{
    color: #DCDCDD;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}
.nav li.active{
    background-color: #4C5C68;
    height: 100%;
}
.nav li:hover{
    background-color: #646E78;
    height: 100%;
}